html,
body {
    margin: 10px;
    height: 100%;
}

.container {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.sheet {
    background-color: #ffffff;
    border: 1px solid #DDDDDD;
    margin: 20 auto;
    width: 800px;
    height: 800px;
}

.center {
    text-align: center;
}