<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <h1 class="center">Diagram: {{ .DiagramName }}</h1>
    <h3 class="center">Presented to you using Cacoo!</h3>
    <h4 class="center">View/edit the <a href="{{ .DiagramURL }}" target="_blank">diagram</a> in Cacoo!</h4>
    <div class="container flex-container">
        {{ range $key, $value := .Sheets }}
            <div class="sheet">
                <h3 class="center">- {{ $value.Name }} -</h3>
                <img src="{{ $value.ImageURL }}" height="740" width="740"></img>
            </div>
        {{ end }}
    </div>
</body>